@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  font-family: "Nunito", Sans-serif;

  --color-red-default: #F14968;
  --color-red-800: #750727;
  --color-red-700: #990534;
  --color-red-600: #B91442;
  --color-red-500: #D62D54;
  --color-red-400: #EE4967;
  --color-red-300: #FF687D;
  --color-red-200: #FFAAB2;
  --color-red-100: #FFCCD0;
  --color-red-50: #FFEEEF;

  --color-gradient1: linear-gradient(90deg, #F25976 -0.05%, #F14968 100.02%);
  --color-gradient2: linear-gradient(90deg, #EF4444 -0.05%, #B91C1C 100.02%);
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

@layer utilities {

  .perspective {
    perspective: 1000px;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.transform-style-3d {
    transform-style: preserve-3d;
}

  .text-balance {
    text-wrap: balance;
  }

  .bg-primary {
    background: var(--color-gradient1);
  }

  .mainTitle {

    font-family: "Nunito", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #3F3F46;
  }

  .Btn_Primary {

    width: 100%;
    height: 58px;
    padding: 18px 16px 18px 16px;
    border-radius: 100px;
    background: var(--color-red-default);
    box-shadow: 4px 8px 24px 0px #F1496840;
    font-weight: 700;
    color: white;
    letter-spacing: 0.4px;
  }

  .Btn_Primary {

    width: 100%;
    height: 58px;
    padding: 18px 16px 18px 16px;
    border-radius: 100px;
    background: var(--color-red-default);
    box-shadow: 4px 8px 24px 0px #F1496840;
    font-weight: 700;
    color: white;
    letter-spacing: 0.4px;
  }

  .Btn_Primary_edit {

    width: 100%;
    height: 46px;
    padding: 18px 16px 18px 16px;
    border-radius: 100px;
    background: var(--color-red-default);
    box-shadow: 4px 8px 24px 0px #F1496840;
    font-weight: 700;
    color: white;
    letter-spacing: 0.4px;
  }

  .Btn_Secundary {

    width: 100%;
    padding: 18px 16px 18px 16px;
    border-radius: 100px;
    background: var(--color-red-50);
    color: #F14968;
    font-weight: 800;
    letter-spacing: 0.4px;
  }

  .inputDef {

    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 2px;
    border-color: var(--color-red-default);
    color: #27272A;

  }

  .labelDef {

    color: #A1A1AA;
    font-size: 14px;
  }

  .AssinaturaContainerBG{
    
    width: 100%;
    
    background-color: var(--color-gradient2);
  }
}

@layer components {}